apiVersion: apps/v1
kind: Deployment
metadata:
  name: secure-task-manager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: secure-task-manager
  template:
    metadata:
      labels:
        app: secure-task-manager
    spec:
      containers:
        - name: secure-task-manager
          image: ezio7223/secure-task-manager:b43e07e
          imagePullPolicy: Always

          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10